* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: montserrat;
  background-color: #D8D2CB;
}

/* NAVBAR SECTION */
nav {
  /* background: #ddd8e0; */
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 90px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  background: #181e74;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #181e74;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    /* color: #00A19D; */
    color: #181e74;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    padding: 200px;
     height: calc(100vh - 80px);
  } */

/* HEADER SECTION */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* SOCIAL MEDIA LET'S CONNECT */
/* social media */
.social-account-wrapper-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-account-wrapper-connect svg {
  width: 30px;
  height: 30px;
  fill: #181e74;
  /* fill: #f9320a; */
}

.social-account-wrapper-connect svg:hover {
  fill: #000;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}

/* HEADER SECTION*/
header {
  width: 750px;
  /* height: 100vh; */
  margin: auto;
  padding: 20px 20px;
  border: 2px solid none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  background-color: rgba(5, 121, 255, 0.2);
  /* position: relative;
    top: 100px; */
  margin-bottom: 70px;
  margin-top: 70px;
}

.connect {
  margin: 30px 10px;
}
.contact_me {
  margin: 10px 0;
  color: #181e74;
}

.contact_me_text {
  margin: 20px 0;
  font-size: 30px;
}
.contact_me_paragraph {
  font-size: 20px;
  line-height: 2.5;
  color: #181e74;
}

.contact_me_paragraph_1 {
  font-size: 20px;
  color: #181e74;
}
.contact_me_paragraph:hover {
  background-color: rgba(216, 216, 247, 0.2);
}

.contact_me_paragraph_1:hover {
  background-color: rgba(216, 216, 247, 0.2);
}

.let_connect {
  margin-top: 40px;
  display: inline-block;
  color: #181e74;
  /* border: 3px solid red; */
}

.let_connect_paragraph {
  font-size: 25px;
  font-weight: 600;
}

.message {
  width: 3.5%;
  /* color: #181e74;
  fill: #181e74; */
  /* --color_fill: #fff; */
}


img.changeColor path{
  fill:red;
  color:#181e74;
}







/* work with me form section */
.form-section form {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  margin-top: 30px;
  /* border: 3px solid red; */
  display: inline-block;
  position: relative;
  right: 200px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

label {
  color: #181e74;
}
.form-group input {
  border: none;
  /* border: 2px solid #181e74; */
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 14px;
  
}

.form-group textarea {
  /* border: 2px solid #181e74; */
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: 150px;
  resize: none;
  margin-bottom: 10px;
}

/* CONTACT ME BUTTON */
.submit {
  margin: 0 auto;
  text-align: center;
}

.submit {
  background-color: #181e74;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 105px;
  border-radius: 5px;
  border: none;
  margin: 20px 1px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5;
}

.submit:hover {
  opacity: 0.8;
}

/* social media */
.social-account-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.social-account-wrapper svg {
  width: 30px;
  height: 30px;
  color: #181e74;
  /* fill: #f9320a; */
}

.social-account-wrapper svg:hover {
  /* fill: rgb(219, 172, 172); */
  cursor: pointer;
  position: relative;
  bottom: 10px;
}

/* COPYRIGHT */
.copyright {
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
  color: #181e74;
}

.clock {
  width: 15%;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: #181e74;
}
/* .contact_me_btn:hover {
  opacity: 0.8;
} */
